brillion ICON PRELOAD "brillion.ico"
/* rxvt ICON "rxvt.ico"
XEmacs ICON "xemacs.ico"
XEmacsFile ICON "File.ico"
XEmacsLisp ICON "Lisp.ico" */

#include <windows.h>

1 VERSIONINFO
FILEVERSION 0, 1, 0, 0
PRODUCTVERSION 0, 1, 0, 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 2
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "04090000"
  BEGIN
   VALUE "CompanyName", "A Sec\\Icd production\000"
   VALUE "FileDescription", "Small puzzle game\000"
   VALUE "FileVersion", "0.1\000"
   VALUE "InternalName", "brillion\000"
   VALUE "LegalCopyright", "Copyright 2003 Stefan `Sec` Zehl\000"
   VALUE "OriginalFilename", "brillion.exe\000"
   VALUE "ProductName","Brillion\000"
   VALUE "ProductVersion","0.1\000"
   VALUE "Licence", "See LICENCE.txt\000"
  END
 END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x409, 1200  /* Sprache: Englisch */
/* VALUE "Translation", 0x409, 1200 */ /* Sprachneutral */
END
END
